<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Show a Plane</title>
</head>
<body>
	<h1>Show Plane</h1>

	<p><% @plane.name %></p>
	<p><% @plane.kind %></p>
	<p><% @plane.description %></p>
</body>
</html>